@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');

:root {
    --width: 720px;
    --font-main: 'Space Mono', monospace;
    --font-secondary: 'Space Mono', monospace;
    --font-scale: .9em;
    --background-color: #000084;
    --heading-color: #000000;
    --heading-background: #00AAAA;
    --text-color: #B7B7B7;
    --link-color: #B7B7B7;
    --visited-color: #B7B7B7;
    --code-background-color: #B7B7B7;
    --code-color: #222;
    --blockquote-color: #B7B7B7;
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px 0px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
    padding: 0.4em 0.6em;
    background: var(--heading-background);
    font-size: 1em;
    font-weight: 500;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: .9em;
}

h5 {
    font-size: .8em;
}

h6 {
    font-size: .7em;
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: #000000 !important;
    background-color: var(--link-color);
    text-decoration: underline;
}

nav {
    background: #000000;
}

nav p {
    margin-top: 0px;
    margin-bottom: 0px;
}

nav a {
    color: #B7B7B7;
    margin-right: 0px;
    padding: 5px 12px;
    display: inline-block;
}

nav a:hover {

    background: #B7B7B7;
}

button {
    margin: 0;
    cursor: pointer;
}

main {
    border: 1px solid var(--text-color);
    padding: 20px;
    margin: 25px 0px;
}

main {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 0px;
}

blockquote {
    border-left: 1px solid #999;
    color: var(--blockquote-color);
    padding-left: 20px;
    font-style: italic;
}

footer {
    text-align: center;
    color: var(--heading-color);
    padding: 0.4em 0.6em !important;
    background: var(--heading-background);
}

.title:hover {
    text-decoration: none;
}

.title {
    text-decoration: none;
}

.title h1 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.inline {
    width: auto !important;
}

.highlight,
.code {
    padding: 1px 15px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 0px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

/* blog post list */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
    margin-bottom: 12px;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: var(--visited-color);
}

th {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}